/*///
 Animations and Keyframes
*////

body {

/*///
 MAIN (Navbar) Animations
*////

//// Main Title Logo ////

  .main-title:hover {

    @mixin animateDown($pixelsDown) {
      transform: translate(0px,$pixelsDown);
      opacity: 1;
    }
    @mixin rotateUp($degrees) {
      transform: rotate($degrees);
      opacity: 0.5;
    }

    .jrlejaDesignNYCTitleHover {
      display: block;
      opacity: 1;
      animation: 3s infinite animateHoverLogo;
      -webkit-animation: 3s infinite animateHoverLogo;
    }

    @mixin mainLogoAnimationMixin($pixelsDown) {
      @keyframes animateHoverLogo {
        25%, 52% {
          @include animateDown($pixelsDown);
        }
        100% {
          @include rotateUp(-45deg);
        }
      }
      @-webkit-keyframes animateHoverLogo {
        25%, 52% {
          @include animateDown($pixelsDown);
        }
        100% {
          @include rotateUp(-45deg);
        }
      }
    }

    //// when logo is large, move hover-logo down 70px.
    //// when logo is small, move hover-logo down 50px.

    @include mainLogoAnimationMixin(70px);

    @media screen and (max-width: 767px) {
      @include mainLogoAnimationMixin(50px);
    }

  }

//// Dropdown Main Menu ////

  .dropdown-main-menu {
    animation: 0.5s fadeIn;
    -webkit-animation: 0.5s fadeIn;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }

//// Dropdown Main Menu Options (Spans) ////

  .dropdown-main-menu a span {
    animation: 1s revealMenuOptions;
    -webkit-animation: 1s revealMenuOptions;
  }

  @keyframes revealMenuOptions {
    0%, 25% {
      position: relative;
      left: -100px;
      opacity: 0;
    }
    100% {
      position: relative;
      left: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes revealMenuOptions {
    0%, 25% {
      position: relative;
      left: -100px;
      opacity: 0;
    }
    100% {
      position: relative;
      left: 0;
      opacity: 1;
    }
  }

/*///
 MAIN (Footer) Animations
*////

  .footer-linkToTop {

    a:hover {
      animation: 10s infinite revealScrollUpPointer;
      -webkit-animation: 10s infinite revealScrollUpPointer;
    }

    @keyframes revealScrollUpPointer {
      0% {
        color: $pink-rgba8;
        background-color: transparent;
        border: 5px solid transparent;
        bottom: 0;
      }
      10%, 100% {
        color: $pink-bold;
        background-color: $light-green;
        border: 5px solid $pink-bold;
        bottom: 40px;
      }
    }
    @-webkit-keyframes revealScrollUpPointer {
      0% {
        color: $pink-rgba8;
        background-color: transparent;
        border: 5px solid transparent;
        bottom: 0;
      }
      10%, 100% {
        color: $pink-bold;
        background-color: $light-green;
        border: 5px solid $pink-bold;
        bottom: 40px;
      }
    }

  }

/*///
 GENERAL Animations
*////

//// Animating all main titles (moving up) ////

  .basic-main-title-animation-move-up {
    position: relative;
    animation: 3s moveUp;
    -webkit-animation: 3s moveUp;
  }

  @keyframes moveUp {
    0% {
      bottom: 80px;
      opacity: 0;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes moveUp {
    0% {
      bottom: 80px;
      opacity: 0;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }

//// Animating all images (fading in) ////

  img {
    animation: 3s cubic-bezier(0.36, 0.6, 0.47, 1) fadeIn;
    -webkit-animation: 3s cubic-bezier(0.36, 0.6, 0.47, 1) fadeIn;
  }


/*///
 PROJECTS Animations
*////

  // .div-project-title {
  //   animation: 3s moveRight;
  //   -webkit-animation: 3s moveRight;
  // }

  // @keyframes moveRight {
  //   0% {
  //     left: -100px;
  //   }
  //   100% {
  //     left: 0;
  //   }
  // }
  // @-webkit-keyframes moveRight {
  //   0% {
  //     left: -100px;
  //   }
  //   100% {
  //     left: 0;
  //   }
  // }

}
