/*///
 Basic Colors & Layout Styling
*////

// bold
$blue-bold: #1b1ed1;
$blue-bold-violet: #0600c6;
$blue-with-red: #4816bc;
$green-background: #05ad18;
$pink: #F3517D;
$pink-bold: #ff009d;
$yellow: #f7f70c;
$medium-grey: #333;
// dark
$black-with-blue: #010e23;
$black-with-green: #000c01;
$black-with-red: #190002;
// light
$light-blue: #8bb5f9;
$warm-green: #8bba1b;
$light-green: #00ff15;
$light-red: #fc747f;
$light-yellow: #f2ff49;
$light-grey: #dee3ea;
// translucent
$blue-bold-rgba6: rgba(27, 30, 209, 0.6);
$blue-bold-rgba8: rgba(27, 30, 209, 0.8);
$light-green-rgba: rgba(0, 255, 21, 0.8);
$black-with-green-rgba: rgba(0, 12, 1,0.8);
$pink-rgba: rgba(255, 0, 157, 0.8);
$red-pink-rgba: rgba(255, 0, 59, 0.8);
$black-with-red-rgba: rgba(25, 0, 2, 0.8);
$yellow-rgba: rgba(247, 247, 12, 0.8);

@mixin pattern-background($backgroundColor, $fileColor) {
  background: $backgroundColor url(
    "/assets/abstractions/" + $fileColor + "_tile.jpg") center/cover no-repeat fixed;
  // background: $backgroundColor url("/assets/abstractions/" + $fileColor + "_tile.jpg") round;
}

.greenBackground {
  @include pattern-background($black-with-green, 'green');
}

.redBackground {
    @include pattern-background($black-with-red, 'red');
}

.blueBackground {
    @include pattern-background($black-with-blue, 'blue');
}

.blueBold {
  background-color: $blue-bold;
}

.green {
  background-color: $green-background;
}

.pink {
  background-color: $pink;
}

.black-with-red {
  background-color: $black-with-red;
}

.black-with-blue {
  background-color: $black-with-blue;
}

.main-font {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: white;
}

.heading-font {
  font-family: Georgia, serif;
  font-size: 90px;  // 120px;
  line-height: 98px;  // 110px;
  text-align: center;
  color: white;
  // font-size: 36px;
}

.subheading-font {
  font-family: Georgia, serif;
  font-size: 60px;  // 80px;
  color: $warm-green;
}

.text-center {
  text-align: center;
}

.top-bottom-margin-30 {
  margin: 30px 0;
}

.left-right-margin-10 {
  margin: 0 10px;
}

.position-relative {
  position: relative;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/*///
 Basic Elements Styling
*////

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  @extend .greenBackground;
  @extend .main-font;

  a, a:hover {
    color: white;
    text-decoration: none;
  }

  button {
    -webkit-appearance: button;
    cursor: pointer;
  }

  hr {
    border-width: 0;
  }

  img {
    width: 100%;
  }

  nav {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .basic-div-main-title {
    position: relative;
    width: 100%;
    margin: 30px auto 0 auto;
  }

  .basic-div-links {
    background-color: $black-with-red;
    padding: 14px 20px 14px 20px;
    text-align: center;
  }

  .basic-textbox {
    max-width: 650px;
    margin: 0 auto;

    .li-add-padding-bottom-5 {
      padding-bottom: 5px;
    }

    .li-add-padding-bottom-10 {
      padding-bottom: 10px;
    }

    .li-add-padding-bottom-20 {
      padding-bottom: 20px;
    }

    .li-add-padding-bottom-40 {
      padding-bottom: 40px;
    }

    .li-remove-padding-bottom {
      padding-bottom: 0;
    }

  }

  .div-img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .highlight-basic:hover {
    background-color: $light-green-rgba;
  }

  .highlight-blue:hover {
    @extend .highlight-basic:hover;
    background-color: $blue-bold-rgba8;
  }

  .highlight-pink:hover {
    @extend .highlight-basic:hover;
    background-color: $pink-rgba;
  }

  .div-container-image-under-construction {
    @extend .div-project-main-title;
    margin: 20px auto 0 auto;
    width: 50%;
    text-align: center;
  }

/* pseudo elements */

  // .btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before
  .clearfix:after, .clearfix:before, .container:after, .container:before, .container-fluid:after, .container-fluid:before, .navbar-header:after, .navbar-header:before, .row:after, .row.before, .stylingMainNavbar:after, .stylingMainNavbar:before {
    display: table;
    content: " ";
  }

  // .btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after
  .clearfix:after, .container:after, .container-fluid:after, .navbar-header:after, .row:after, .stylingMainNavbar:after {
    clear: both;
  }

/* grid system */

  .container, .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }

  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }

  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

}
