/*///
 Media Queries - largest to smallest max-width
 (default screen size is 1200px or over)
*////

body {

  @media screen and (max-width: 1199px) {

    .slide-thumbnails-container {
      height: auto;

      .thumbnail {
        display: inline-block;
        width: 33.333%
      }
    }

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 40px;
      }
    }

    .div-project-main-title {
      padding: 0 20px;
    }

    .div-project-title {
      width: 80%;
    }

    .artShowcase-main-title {
      padding: 0 30px;
    }

  }

  @media screen and (max-width: 991px) {

    .div-project-main-title {
      padding: 0 10px;
    }

    .div-project-title {
      width: 80%;
    }

    .project-textbox {
      max-width: 650px;

      ul {
        margin: 15px auto 15px auto;
      }
    }

    .div-headshot {
      height: 400px;
      margin-bottom: 20px;
    }
    .div-headshot-backdrop {
      height: 100%;
      margin-top: 0;
    }

  }

  @media screen and (max-width: 850px) {

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 10px;
      }
    }

    .heading-font {
      font-size: 60px;
      line-height: 60px;
    }

    .subheading-font {
      font-size: 40px;
      line-height: 40px;
    }

    .div-project-main-title {
      padding: 0;
    }

    .div-project-title {
      width: 90%;
      padding: 20px 0;
    }

    .div-container-image-under-construction {
      width: 90%;
    }

    .contact-main-title {
      width: 100%;
      padding: 0 60px;

      .subheading-font {
        top: -12px;
      }
    }

    .artShowcase-main-title {
      padding: 0;
    }

    .art-image-description {
      font-size: 14px;
      padding: 3px;
    }

    .footer-linkToTop {
      font-size: 108px;

      a {
        width: 126px;
        height: 126px;
      }

      i {
        bottom: 10px;
      }
    }

  }

  @media screen and (max-width: 767px) {

    .main-slide-container {
      height: 300px;
    }

    .main-navbar-styling {
      .nav-contact, .main-logo-lg {
        display: none;
      }

      .main-logo-sm {
        display: block;
      }

      .main-nav-buttons {
        top: -14px;
        margin-left: 30px;

        a {
          padding: 12px 30px 10px 30px;
        }
      }
    }

    .welcome-textbox {
      font-size: 18.5px;
      line-height: 28px;
    }

  }

  @media screen and (max-width: 630px) {

    .heading-font {
      font-size: 50px;
      line-height: 48px;
    }

    .subheading-font {
      font-size: 30px;
      line-height: 30px;
    }

    .welcome-textbox {
      max-width: 378px;

      li {
        padding-bottom: 0;
      }
    }

    .footer-text {
      font-size: 16px;
    }

  }

  @media screen and (max-width: 530px) {

    .main-navbar-styling {
      .main-nav-buttons {
        top: -16px;
      }

      .nav-menu {
        a {
          padding: 12px 25px 10px 25px;
        }

        span {
          display: none;
        }

        i {
          font-size: 32px;
          padding-left: 0;
          left: 2px;
        }
      }
    }

    .div-project-main-title {
      margin-top: 30px;
    }

    .welcome-container {
      height: 450px;
    }

    .welcome-textbox {
      font-size: 17.5px;
    }

    .div-project-title {
      width: 100%;
    }

    .contact-main-title {
      width: 100%;
      padding: 0 30px;
    }

  }

  @media only screen and (max-width: 480px) {

    .footer-text {
      font-size: 16px;
    }

    .div-project-title {
      margin-top: 0;
    }

    .project-text-row {
      margin-bottom: 20px;
    }

    .img-project-main, .div-headshot {
      height: 340px;
    }
    .div-headshot-backdrop {
      width: 330px;
    }

    .contact-textbox {
      ul {
        padding: 60px 20px 0 20px;
      }
    }

  }

  @media only screen and (max-width: 415px) {

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 10px;
      }

      .nav-menu {
        a {
          padding: 12px 15px 10px 15px;
        }

        i {
          font-size: 26px;
          top: 2px;
          left: 0;
        }
      }
    }

    .img-project-main {
      height: 280px;
    }

    .diningWithTheStars1 {
      background-position: center top;
    }

    .smashbots1, .techTalkPaperJS1 {
      height: 218px;
    }

    .div-headshot {
      height: 300px;
    }
    .div-headshot-backdrop {
      width: 290px;
    }

    .contact-main-title {
      padding: 0;
    }

    .contact-container {
      padding: 0;
    }

    .contact-textbox {
      font-size: 21px;
    }

    .div-socialMediaLinks {
      padding: 14px 2px;

      a {
        width: 28%;
        margin: 0 6px;
      }
    }

  }

  @media only screen and (max-width: 370px) {

    .main-navbar-styling {
      .main-nav-buttons {
        div {
          padding: 0;
        }
      }
    }

    .projects-main-container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .art-image-description {
      font-size: 12px;
    }

    .contact-textbox {
      font-size: 19px;
    }

    .footer-text {
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 347px) {

    .main-navbar-styling {
      .main-logo-container {
        position: relative;
        left: -6px;
      }

      .main-nav-buttons {
        margin-left: 0;
      }

      .nav-menu {
        a {
          padding: 12px 8px 10px 8px;
        }
      }
    }

    .projects-main-container {
      .basic-div-links {
        padding-left: 5px;
      }

      .links-title {
        padding-left: 60px;
      }
    }

    .art-image-description {
      font-size: 11px;
    }

    .contact-row-below-title {
      margin-top: 15px;
    }

    .contact-textbox {
      font-size: 17px;

      ul {
        padding: 60px 6px 0 6px;

        > li {
          padding-left: 16px;
        }
      }
    }

    .footer-text {
      font-size: 12px;
    }

  }

}
