/*///
 Media Queries - largest to smallest max-width
 (default screen size is 1200px or over)
*////

body {

  @media screen and (max-width: 1199px) {

    .slide-thumbnails-container {
      height: auto;

      .thumbnail {
        display: inline-block;
        width: 33.333%;
      }
    }

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 40px;
      }
    }

    .div-project-main-title {
      padding: 0 20px;
    }

    .div-project-title {
      width: 80%;
    }

    .artShowcase-main-title {
      padding: 0 30px;
    }

  }

  @media screen and (max-width: 991px) {

    .div-project-main-title {
      padding: 0 10px;
    }

    .div-project-title {
      width: 80%;
    }

    .project-textbox {
      max-width: 650px;

      ul {
        margin: 15px auto 15px auto;
      }
    }

    .div-headshot {
      height: 400px;
      margin-bottom: 20px;
    }
    .div-headshot-backdrop {
      height: 100%;
      margin-top: 0;
    }

  }

  @media screen and (max-width: 850px) {

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 10px;
      }
    }

    .heading-font {
      font-size: 60px;
      line-height: 60px;
    }

    .subheading-font {
      font-size: 40px;
      line-height: 40px;
    }

    .div-project-heading {
      .project-heading-font {
        font-size: 36px;
        line-height: 42px;
        padding: 5px 0;
      }
    }

    .div-project-main-title {
      padding: 0;
    }

    .div-project-title {
      width: 90%;
      padding: 20px 0;
    }

    .div-container-image-under-construction {
      width: 90%;
    }

    .contact-main-title {
      width: 100%;
      padding: 0 60px;

      .subheading-font {
        top: -12px;
      }
    }

    .artShowcase-main-title {
      padding: 0;
    }

    .art-image-description {
      font-size: 14px;
      padding: 3px;
    }

    .footer-linkToTop {
      font-size: 108px;

      a {
        width: 126px;
        height: 126px;
      }

      i {
        bottom: 10px;
      }
    }

  }

  @media screen and (max-width: 767px) {

    .main-slide-container {
      height: 300px;
    }

    .main-navbar-styling {
      height: 62px;

      .main-nav-buttons {
        height: 47px;
      }

      .nav-menu {
        width: 170px;
      }

      .nav-contact, .main-logo-lg {
        display: none;
      }

      .main-logo-sm {
        display: block;
      }

      .main-nav-buttons {
        margin-left: 30px;
      }
    }

    .welcome-textbox {
      font-size: 18.5px;
      line-height: 28px;
    }

    .skills-lists {
      div {
        width: 80%;
        margin: auto;
      }

      ul.ul-back-end {
        min-height: 220px;
      }
    }
  }

  @media screen and (max-width: 630px) {

    .heading-font {
      font-size: 50px;
      line-height: 48px;
    }

    .subheading-font {
      font-size: 30px;
      line-height: 30px;
    }

    .div-project-heading {
      .project-heading-font {
        font-size: 32px;
        line-height: 38px;
      }
    }

    .welcome-textbox {
      max-width: 378px;

      li {
        padding-bottom: 0;
      }
    }

    .footer-text {
      font-size: 16px;
    }

    .div-artShowcase-main-img {
      min-height: 290px;
    }

  }

  @media screen and (max-width: 530px) {

    .main-navbar-styling {
      .main-nav-buttons {
        div {
          padding: 0;
        }
      }

      .nav-menu {
        width: 85px;

        span {
          display: none;
        }

        i {
          font-size: 32px;
          padding-left: 0;
        }
      }
    }

    .div-project-main-title {
      margin-top: 30px;
    }

    .welcome-container {
      height: 450px;
    }

    .welcome-textbox {
      font-size: 17.5px;
    }

    .div-project-title {
      width: 100%;
    }

    .contact-main-title {
      width: 100%;
      padding: 0 30px;
    }

  }

  @media only screen and (max-width: 480px) {

    .footer-text {
      font-size: 16px;
    }

    .div-project-title {
      margin-top: 0;
    }

    .project-text-row {
      margin-bottom: 20px;
    }

    .img-project-main, .div-headshot {
      height: 340px;
    }
    .div-headshot-backdrop {
      width: 330px;
    }

    .contact-textbox {
      ul {
        padding: 60px 20px 0 20px;
      }
    }

  }

  @media only screen and (max-width: 415px) {

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 20px;
      }

      .nav-menu {
        width: 60px;

        i {
          font-size: 26px;
        }
      }
    }

    .dropdown-main-menu {
      a {
        i.fa-angle-double-left {
          display: none;
        }
      }
    }

    .heading-font {
      font-size: 36px;
      line-height: 46px;
    }

    .subheading-font {
      font-size: 22px;
    }

    .img-project-main {
      height: 280px;
    }

    .diningWithTheStars1 {
      background-position: center top;
    }

    .smashbots1, .techTalkPaperJS1 {
      height: 218px;
    }

    .div-headshot {
      height: 300px;
    }
    .div-headshot-backdrop {
      width: 290px;
    }

    .contact-main-title {
      padding: 0;
    }

    .contact-container {
      padding: 0;
    }

    .contact-textbox {
      font-size: 21px;
    }

    .div-socialMediaLinks {
      padding: 14px 2px;

      a {
        width: 28%;
        margin: 0 6px;
      }
    }

    .div-artShowcase-main-img {
      min-height: 200px;
    }

  }

  @media only screen and (max-width: 370px) {

    .dropdown-main-menu {
      a {
        span {
          font-size: 24px;
        }

        i.fa-angle-double-right {
          font-size: 32px;
          left: -8px;
        }
      }
    }

    .projects-main-container {
      padding-left: 10px;
      padding-right: 10px;
    }

    .div-project-heading {
      .project-heading-font {
        font-size: 28px;
        line-height: 34px;
      }
    }

    .art-image-description {
      font-size: 12px;
    }

    .contact-textbox {
      font-size: 19px;
    }

    .footer-text {
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 347px) {

    .main-navbar-styling {
      .main-logo-container {
        position: relative;
        left: -6px;
      }

      .main-nav-buttons {
        margin-left: 0;
      }

      .nav-menu {
        width: 42px;
      }
    }

    .projects-main-container {
      .basic-div-links {
        padding-left: 5px;
      }

      .links-title {
        padding-left: 60px;
      }
    }

    .art-image-description {
      font-size: 11px;
    }

    .contact-row-below-title {
      margin-top: 15px;
    }

    .contact-textbox {
      font-size: 17px;

      ul {
        padding: 60px 6px 0 6px;

        > li {
          padding-left: 16px;
        }
      }
    }

    .footer-text {
      font-size: 12px;
    }

  }

  @media only screen and (max-width: 319px) {
    .main-navbar-styling {
      flex-flow: row wrap;
      z-index: 200;
    }
  }

}
