/*///
 Media Queries - largest to smallest max-width
 (default screen size is 1200px or over)
*////

body {

  @media screen and (max-width: 1199px) {

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 40px;
      }
    }

    .div-project-main-title {
      padding: 0 20px;
    }

    .div-project-title {
      width: 80%;
    }

    .artShowcase-main-title {
      padding: 0 30px;
    }

  }

  @media screen and (max-width: 991px) {

    .stylingMainNavbar {
      padding-bottom: 4px;
    }

    .mainTitle {
      height: 32px;
      width: 240px;
      margin-top: 16px;
    }

    .mainTitle:hover {
      background-position: 0 -33px;
    }

    .div-project-main-title {
      padding: 0 10px;
    }

    .div-project-title {
      width: 80%;
    }

    .project-textbox {
      max-width: 650px;

      ul {
        margin: 15px auto 0 auto;
      }

    }

  }

  @media screen and (max-width: 850px) {

    .main-navbar-styling {
      .main-nav-buttons {
        margin-left: 10px;
      }
    }

    .heading-font {
      font-size: 60px;
      line-height: 60px;
    }

    .subheading-font {
      font-size: 40px;
    }

    .div-project-main-title {
      padding: 0;
    }

    .div-project-title {
      width: 90%;
      padding: 20px 0;
    }

    .contact-main-title {
      width: 100%;
      padding: 0 60px;
    }

    .artShowcase-main-title {
      padding: 0;
    }

    .art-image-description {
      font-size: 14px;
      padding: 3px;
    }

    .footer-linkToTop {
      font-size: 100px;

      a {
        width: 126px;
        height: 126px;
      }

      span {
        width: 90px;
        top: 5px;
      }

    }

  }

  @media screen and (max-width: 767px) {

    .main-navbar-styling {
      .nav-contact, .main-logo-lg {
        display: none;
      }

      .main-logo-sm {
        display: block;
      }

      .main-nav-buttons {
        top: -16px;

        a {
          padding: 12px 40px 10px 40px;
        }
      }
    }

    .stylingMainNavbar {

      .navbar-header {
        float: none;
        margin-left: -15px;
        margin-right: -15px;
      }

      .navbar-toggle {
        display: inline-block;
      }

      .nav-contact {

        a {
          padding-bottom: 10px;
        }

      }

    }

    .mainTitle {
      margin-left: 7px;
    }

    .welcome-textbox {
      font-size: 18.5px;
      line-height: 28px;
    }

  }

  @media screen and (max-width: 630px) {

    .heading-font {
      font-size: 50px;
      line-height: 48px;
    }

    .subheading-font {
      font-size: 30px;
    }

    .welcome-textbox {
      max-width: 378px;
      height: 310px;

      li {
        padding-bottom: 0;
      }
    }

    .footer-text {
      font-size: 16px;
    }

  }

  @media screen and (max-width: 530px) {

    .div-project-main-title {
      margin-top: 30px;
    }

    .welcome-container {
      height: 450px;
    }

    .welcome-textbox {
      font-size: 17.5px;
    }

    .div-project-title {
      width: 100%;
    }

    .contact-main-title {
      width: 100%;
      padding: 0 30px;
    }

    .div-socialMediaLinks {
      padding: 14px 7px 0 7px;

      div {
        padding: 0 8px;
      }
    }

  }

  @media only screen and (max-width: 480px) {

    .footer-text {
      font-size: 16px;
    }

    .img-main-project, .headshotBackground {
      height: 340px;
    }

    .contact-textbox {
      ul {
        padding: 60px 20px 0 20px;
      }
    }

  }

  @media only screen and (max-width: 415px) {

    .img-main-project {
      background-size: contain;
      height: 250px;
    }

    .diningWithTheStars1 {
      background-position: center top;
    }

    .smashbots1, .techTalkPaperJS1 {
      height: 218px;
    }

    .headshotBackground {
      height: 300px;
    }

    .contact-main-title {
      padding: 0;
    }

    .contact-container {
      padding: 0;
    }

    .contact-textbox {
      font-size: 21px;
    }

  }

  @media only screen and (max-width: 370px) {

    .welcome-textbox {
      height: 270px;
    }

    .projects-main-container {
      padding-left: 0;
      padding-right: 0;
    }

    .art-image-description {
      font-size: 12px;
    }

    .contact-textbox {
      font-size: 19px;
    }

    .div-socialMediaLinks {
      padding: 14px 0px 0 0px;
    }

    .footer-text {
      font-size: 14px;
    }

  }

  @media only screen and (max-width: 347px) {

    .mainTitle {
      width: 200px;
      height: 10px;
      margin-top: 20px;
      padding-bottom: 12px;
    }

    .mainTitle:hover {
      background-position: 0 -28px;
    }

    .welcome-textbox {
      height: 310px;
    }

    .img-main-project {
      height: 220px;
    }

    .art-image-description {
      font-size: 11px;
    }

    .contact-row-below-title {
      margin-top: 15px;
    }

    .contact-textbox {
      font-size: 17px;

      ul {
        padding: 60px 6px 0 6px;

        > li {
          padding-left: 16px;
        }

      }

    }

    .div-socialMediaLinks {
      padding: 14px 0px 0 0px;
    }

    .footer-text {
      font-size: 12px;
    }

  }

}
