/*///
 Basic Colors & Layout Styling
*////

$blue-bold: #1b1ed1;
$blue-with-red: #4816bc;  // #571edb;
// $blue2: #1f0f9b;
$green-background: #05ad18;
$pink: #F3517D;
$black-with-blue: #010e23;
$black-with-green: #000c01;
$black-with-red: #190002;
$light-blue: #8bb5f9;
$light-green: #00ff15;  // #59e565;
// $light-green2: #30ff6a;
$light-red: #fc747f;

@mixin pattern-background($backgroundColor, $fileColor) {
  background: $backgroundColor url(
    "/assets/abstractions/" + $fileColor + "_tile.jpg") center/cover no-repeat fixed;
}

.greenBackground {
  @include pattern-background($black-with-green, 'green');
}

.redBackground {
    @include pattern-background($black-with-red, 'red');
}

.blueBackground {
    @include pattern-background($black-with-blue, 'blue');
}

.blueBold {
  background-color: $blue-bold;
}

.green {
  background-color: $green-background;
}

.pink {
  background-color: $pink;
}

.black-with-red {
  background-color: $black-with-red;
}

.main-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.text-center {
  text-align: center;
}

.top-bottom-margin-30 {
  margin: 30px 0;
}

.left-right-margin-10 {
  margin: 0 10px;
}

.position-relative {
  position: relative;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/*///
 Basic Elements Styling
*////

body {
  @extend .greenBackground;
  @extend .main-font;
  padding-top: 60px;

  a {
    color: white;
    text-decoration: none;
  }

  hr {
    border-width: 0;
  }

  img {
    width: 100%;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  .basic-div-main-title {
    margin: 30px 10px 0 10px;
  }

  .basic-textbox {
    max-width: 650px;
    margin: 0 auto;

    .li-add-padding-bottom-5 {
      padding-bottom: 5px;
    }

    .li-add-padding-bottom-10 {
      padding-bottom: 10px;
    }

    .li-add-padding-bottom-20 {
      padding-bottom: 20px;
    }

    .li-add-padding-bottom-40 {
      padding-bottom: 40px;
    }

    .li-remove-padding-bottom {
      padding-bottom: 0;
    }

  }

  .basic-div-links {
    background-color: $black-with-red;
    padding: 14px 20px 14px 20px;
    text-align: center;
  }

  .div-img-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

/*///
 MAIN (Navbar) Styling
*////

  .mainTitle {
    background: url("/assets/text/lejaDesignNYCTitle1.png") left center/contain no-repeat;
    display: block;
    width: 80%;
    margin: 7px;
  }

  .mainTitle:hover {
    @extend .mainTitle;
    background: url("/assets/text/lejaDesignNYCTitle1Hover.png") left center/contain no-repeat;
  }

/*///
 WELCOME Styling
*////

  .div-welcome-main-title {
    max-width: 350px;
    margin: 10px auto 0 auto;
    position: relative;
  }

  .welcome-textbox {
    // @extend .blueBold;
    // background-color: $light-blue;
    // color: $black-with-blue;
    background-color: $black-with-blue;
    color: $light-blue;
    @extend .basic-textbox;
    @include border-radius(50px);
    text-align: center;
    padding: 20px;
    margin-bottom: 14px;
    max-width: 500px;
    height: 150px;
    font-size: 18px;

    li {
      @extend .li-add-padding-bottom-5;
    }

  }

/*///
 PROJECTS Styling
*////

  .div-project-title {
    padding: 20px 60px;
    text-align: center;

    // img {
    //   max-height: 90px;
    // }

  }

  .img-main-project {
    height: 400px;
    max-width: 700px;
    margin: 0 auto;
  }

  .project-textbox {
    // background-color: $light-blue;
    @extend .green;
    // background-color: $black-with-green;
    // color: $green-background;
    // color: $light-green;
    // color: $black-with-green;
    // color: $blue-bold;
    // background-color: $light-green;
    @extend .basic-textbox;
    font-size: 18px;
    font-weight: 600;

    ul {
      padding: 20px;
    }

    li {
      padding: 20px;
    }

    td, th {
      min-width: 100px;
      padding: 6px 0;
    }

    li:nth-child(even) {
      background-color: $black-with-blue;
      color: $light-blue; // $blue-with-red;
      font-weight: 500;
    }

    li:nth-child(odd) {
      background-color: $light-blue;
      color: $blue-bold;
    }

    p {
      color: white;
      font-weight: 400;
      font-family: Arial, Helvetica, sans-serif;
    }

  }


/*///
 CONTACT Styling
*////

  .headshotBackground {
    background: url("/assets/people/headshot2.jpg") center/contain no-repeat;
    height: 400px;
    margin-bottom: 20px;
  }

  .contact-textbox {
    @extend .basic-textbox;
    @extend .li-add-padding-bottom-20;
    @extend .green;
    height: 400px;
    font-size: 22px;

    ul {
      padding: 60px 40px 0 40px;
    }

  }

  .div-socialMediaLinks {
    @extend .basic-div-links;
    height: 110px;

    div {
      display: inline-block;
      padding: 0 18px;
    }

    a {
      p {
        font-size: 16px;
        padding-top: 6px;
      }
    }

  }

  .social-icon {
    width: 64px;
    height: 64px;
    padding: 0 10px;
  }

  .social-labels {
    white-space: pre;
    font-size: 20px;
  }

  @media only screen and (max-width : 480px) {
    .headshotBackground, .img-main-project {
      height: 340px;
    }

    .contact-textbox {
      ul {
        padding: 60px 20px 0 20px;
      }
    }

  }

  @media screen and (max-width: 530px) {

    .welcome-container {
      height: 450px;
    }

    .welcome-textbox {
      font-size: 17.5px;
    }

    .contact-title {
      margin: 30px 0 0 0;
    }

    .div-socialMediaLinks {
      padding: 14px 10px 0 10px;

      div {
        padding: 0 8px;
      }
    }

  }

  @media screen and (max-width: 850px) {

    .div-project-title {
      padding: 20px 0;
    }

  }

}
