/*///
 Main Components
*////

body {

/*///
 MAIN (Navbar) Styling
*////

  .main-title {
    .jrlejaDesignNYCTitle {
      display: block;
    }
    .jrlejaDesignNYCTitleHover {
      display: none;
    }
  }

  .main-navbar-styling {
    @extend .black-with-red;
    border: 1px solid $black-with-blue;
    font-size: 18px;
    min-height: 50px;

    div {
      display: inline-block;
    }

    .main-nav-buttons {
      position: relative;
      margin-left: 60px;
      top: -22px;

      div {
        padding: 0 10px;
      }

      a {
        color: white;
        text-align: center;
        padding: 15px 40px 13px 40px;
      }
    }

    .nav-contact {
      a {
        border: 2px solid $blue-bold;
        -webkit-transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
      }

      a:hover, a.active {
        background-color: $blue-bold-rgba6;
      }

      a.active:hover {
        background-color: $blue-bold-rgba8;
      }
    }

    .nav-menu {
      a {
        color: white;
        border: 2px solid white;
        padding-right: 30px;
        cursor: pointer;
        -webkit-transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);
      }

      a:hover {
        background-color: $light-blue-rgba8;
      }

      i {
        font-size: 36px;
        padding-left: 15px;
        top: 4px;
        position: relative;
      }

      i.fa-times-circle {
        display: none;
      }
      i.fa-bars {
        display: inline-block;
      }
    }

    .nav-menu.active {
      a {
        color: $black-with-blue;
        background-color: $light-blue-rgba8;
      }

      a:hover {
        background-color: $light-blue;
      }

      i.fa-bars {
        display: none;
      }
      i.fa-times-circle {
        display: inline-block;
      }
    }
  }

  .dropdown-main-menu {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 32px;
    display: none;

    ul {
      padding: 40px 0;
    }

    @mixin box-shadow-menu-link($bottomLength, $color) {
      -webkit-box-shadow: inset 0 $bottomLength 0 0 $color;
      box-shadow: inset 0 $bottomLength 0 0 $color;
    }

    a {
      display: inline-block;
      border: 2px solid transparent;
      padding: 30px 0;
      width: 100%;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      @include box-shadow-menu-link(-3px, $blue-bold-rgba6);

      span {
        position: relative;
      }
    }

    a.active {
      background-color: $black-with-blue-rgba8;
    }

    a:hover, a.active:hover {
      @include box-shadow-menu-link(-90px, $blue-bold-rgba6);
      font-size: 32px;
      line-height: 32px;
    }

    .dropdown-main-menu-green {
      @include box-shadow-menu-link(-3px, $green-bold-rgba6);
    }
    .dropdown-main-menu-green:hover, .dropdown-main-menu-green.active:hover {
      @include box-shadow-menu-link(-90px, $green-bold-rgba6);
    }
    .dropdown-main-menu-red {
      @include box-shadow-menu-link(-3px, $red-bold-rgba6);
    }
    .dropdown-main-menu-red:hover, .dropdown-main-menu-red.active:hover {
      @include box-shadow-menu-link(-90px, $red-bold-rgba6);
    }
    .yellow-highlight {
      @include box-shadow-menu-link(-3px, $yellow-golden-rgba);
    }
    .yellow-highlight:hover, .yellow-highlight.active:hover {
      @include box-shadow-menu-link(-90px, $yellow-golden-rgba);
    }
  }

/*///
 MAIN (Footer) Styling
*////

  .footer-linkToTop {
    position: fixed;
    bottom: 5px;
    right: 5px;
    text-align: center;
    font-size: 170px;

    a {
      color: $pink-rgba8;
      background-color: transparent;
      border: 5px solid transparent;
      display: inline-block;
      @include border-radius(140px);
      position: relative;
      width: 186px;
      height: 186px;
      outline-width: 0;
    }

    i {
      display: inline-block;
      position: relative;
      bottom: 14px;
    }
  }

  .footer-text {
    @extend .main-font;
    background-color: $blue-bold-rgba8;
    color: white;
    font-size: 18px;
    text-align: center;
    border: 1px solid white;
    border-radius: 4px;
  }

/*//
 SLIDESHOW (HOME) Styling
*////

  .main-slide-container {
    background-color: $black-with-green;
    padding: 0;
    height: 500px;

    div {
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      text-align: center;
    }

    img {
      height: 100%;
    }

    span {
      @extend .basic-transition;
      background-color: $black-with-red-rgba8;
      display: block;
      padding: 8px;
      width: 100%;
      position: absolute;
      bottom: 0;
      font-size: 24px;
      line-height: 26px;
    }
  }

  .main-slide-container:hover {
    span {
      color: $red-bold;
      font-size: 26px;
    }
  }

  .slide-thumbnails-container {
    background-color: $black-with-green;
    height: 500px;
    padding: 8px;

    .thumbnail {
      @extend .basic-transition;
      height: 33.333%;
      padding: 8px;
      opacity: 0.6;
      border: 3px solid $yellow-bold;
      cursor: pointer;

      img {
        height: 100%;
      }
    }

    .thumbnail:hover {
      opacity: 1 !important;
    }
  }

/*///
 WELCOME Styling
*////

  .div-welcome-main-title {
    max-width: 350px;
    margin: 10px auto 0 auto;
    position: relative;
  }

  .welcome-textbox {
    background-color: $black-with-blue;
    color: $light-blue;
    @extend .basic-textbox;
    @include border-radius(50px);
    text-align: center;
    padding: 24px;
    max-width: 800px;
    font-size: 23px;
    line-height: 28px;

    li {
      @extend .li-add-padding-bottom-5;
    }

    .green-text {
      color: $green-bold;
    }
  }

/*///
 PROJECTS Styling
*////

  .div-project-main-title {
    background-color: $black-with-green-rgba;
    margin: 60px 0 20px 0;

    h1 {
      padding: 15px 0 28px 0;
      @extend .basic-main-title-animation-move-up;
    }

    .subheading-font {
      color: $warm-green;
    }
  }

  .projects-main-container {
    margin-bottom: 30px;
  }

  .div-project-title {
    width: 60%;
    padding: 20px 60px;
    margin: 20px auto 5px auto;
    position: relative;
  }

  .img-project-main {
    height: 400px;
    max-width: 700px;
    margin: 0 auto;

    img {
      height: 100%;
    }
  }

  .project-text-row {
    background-color: $black-with-red;
    background-image: url("/assets/abstractions/greenTile2_FadeRight.jpg"), url("/assets/abstractions/greenTile2_FadeLeft.jpg");
    background-repeat: repeat-y;
    background-position: left, right;
    margin: 15px -30px 30px -30px;
  }

  .project-textbox-backdrop {
    background-color: $black-with-red-rgba8;
  }

  .project-textbox {
    @extend .basic-textbox;
    font-size: 18px;
    font-weight: 600;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;

    ul {
      margin-top: 15px;
    }

    li {
      padding: 20px;
    }

    td, th {
      min-width: 80px;
      padding: 6px;

    }

    a.a-td-button {
      display: inline-block;
      border: 2px solid white;
      background-color: $blue-bold-rgba4;
      @include border-radius(10px);
      @extend .highlight-blue;
      width: 80px;
    }

    a.a-td-button:hover {
      border: 2px solid $blue-bold;
    }

    li:nth-child(even) {
      background-color: $black-with-blue;
      color: $light-blue;
      font-weight: 500;
    }

    li:nth-child(odd) {
      background-color: white;
      color: black;
    }

    p {
      color: white;
      font-weight: 400;
      font-family: Roboto, Helvetica, Arial, sans-serif;
    }
  }

  .description-column {
    max-width: 570px;
    margin-left: auto;

    li {
      padding: 30px 40px;
      line-height: 26px;
    }
  }

  .links-column {
    max-width: 340px;
    margin-right: auto;

    p {
      margin: 0 0 10px 12px;
    }

    .links-title {
      font-size: 24px;
      line-height: 24px;
      padding-left: 100px;
    }
  }

/*///
 ART SHOWCASE Styling
*////

  .artShowcase-main-title {
    background-color: $black-with-green-rgba;
    margin: 60px 0 20px 0;

    h1 {
      padding: 15px 0 28px 0;
      @extend .basic-main-title-animation-move-up;
    }

    .subheading-font {
      color: $yellow-bold;
    }
  }

  .div-artShowcase-main-img {
    max-width: 1000px;
    margin: 10px auto 30px auto;
    position: relative;
  }

  .text-comingSoon {
    position: absolute;
    width: 70%;
    top: 16px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .art-image-description {
    background-color: $pink-rgba8;
    color: white;
    font-size: 16px;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 6px;
  }

/*///
 CONTACT Styling
*////

  .contact-main-title {
    background-color: $black-with-green-rgba;
    margin: 60px 0 20px 0;

    h1 {
      padding: 15px 0 10px 0;
      @extend .basic-main-title-animation-move-up;
    }

    .subheading-font {
      color: $blue-bold-violet;
      position: relative;
      top: -20px;
    }
  }

  // .headshotBackground {
  //   background: url("/assets/people/headshot2.jpg") center/contain no-repeat;
  //   height: 400px;
  //   margin-bottom: 20px;
  // }

  .div-headshot {
    height: 450px;
    text-align: center;

    img {
      height: 400px;
      width: auto;
      margin-top: 25px;
    }
  }

  .contact-textbox {
    @extend .basic-textbox;
    @extend .li-add-padding-bottom-20;
    background-color: $blue-bold-rgba6;
    height: 450px;
    font-size: 22px;

    ul {
      color: $light-green;
      padding: 45px 40px 0 40px;
      margin: 0 auto;

      .highlightLink {
        @extend .basic-highlight-transition-fast;
        color: $yellow-bold;

        .span-underline {
          text-decoration: underline;
          -webkit-text-decoration-color: $red-bold;
          text-decoration-color: $red-bold;
        }
      }

      .highlightLink:hover {
        color: $red-bold;
      }
    }
  }

  .div-socialMediaLinks {
    @extend .basic-div-links;
    padding: 14px 8px 14px 8px;

    a {
      display: inline-block;
      border: 2px solid white;
      background-color: $pink-rgba4;
      @include border-radius(10px);
      @extend .highlight-red;
      width: 26%;
      margin: 0 10px;

      p {
        font-size: 16px;
        padding: 5px 0 10px 0;
        margin: 0;
      }
    }

    a:hover {
      border: 2px solid $pink-bold;
      text-decoration: underline;
    }
  }

  .social-icon {
    padding: 10px 0;
    font-size: 50px;
  }

  .link-icon {
    @extend .social-icon;
    font-size: 48px;
  }

  .social-labels {
    white-space: pre;
    font-size: 20px;
  }
}
